
*{
  margin: 0;
  padding: 0;
}
/* YourComponent.css */
.Main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.wrapper {
  width: 70%;
  height: 80%;
  background-color: #f7f7ff; 
  
}

.inner{
  background: rgb(2,0,36);
  height: 70px;
  background: linear-gradient(90deg, rgb(95,70,134) 0%, rgb(124, 70, 155) 49%, rgb(81,97,148) 100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


